/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MAIN*/
html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {

	html {
		scroll-behavior: auto;
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

:root{
	--background-default: #FAFAFA;
	--action-main:rgba(14,13,15,0.64);
	--action-main-svg:rgb(14,13,15);
	--divider-main: rgba(14,13,15,0.08);
	--text-primary: #0E0D0F;
	--secondary-48: rgba(250, 250, 250, 0.48);
	--white-contrast: #0A090A;
	--purple-main:#6F76C0;
}
.dark-mode-woo-game-shop{
	--background-default: #0E0D0F;
	--action-main:rgba(255,255,255,0.64);
	--action-main-svg:rgb(255,255,255);
	--divider-main:rgba(255,255,255,0.12);
	--text-primary: #FFFFFF;
	--secondary-48: rgba(14,13,15,0.6);
	--white-contrast: #FFF;
}

body{
	font-family: Urbanist;
	font-style: normal;
}
